<div class="swiper swiper--reviews ">
  <div class="swiper-wrapper items-center h-screen not-prose">
    {%- for review in reviews %}
      <div class="slide swiper-slide items-center justify-center flex">
        <blockquote class="pl-0 m-0">
          <p class="font-headline">
            <strong>{{ review.headline }}</strong>
          </p>
          {{ review.comment | safe }}
          <p class="cite">
            <span class="text-yellow-500 text-sm mr-1">
              {% for i in range(5) -%}
                {%- if i < review.rating -%}
                  <i class="fa-solid fa-star text-yellow-500"></i>
                {%- else -%}
                  <i class="fa-solid fa-star text-gray-300"></i>
                {%- endif -%}
              {%- endfor -%}
            </span> {{ review.cite | safe }}
          </p>
        </blockquote>
      </div>
    {%- endfor %}
  </div>
</div>
