{%- if tagUrl -%}
  <a href="{{ tagUrl | url }}"
     class="flex items-center gap-x-1 bg-yellow-300 text-neutral-800 rounded-[12px] text-2sm py-5px px-2 leading-none whitespace-nowrap hover:ring-accent hover:bg-accent hover:text-white {%- if tagUrl == page.url %}font-bold{% endif %}">
  {%- else -%}
    <span class="flex items-center gap-x-1 rounded-[12px] bg-yellow-300 text-neutral-600 text-2xs py-1.5 px-2 leading-none whitespace-nowrap ">
    {% endif -%}
    {% if tag == 'featured' %}
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 20 20"
           fill="currentColor"
           class="w-4 h-4 -my-2 -ml-0.5 text-yellow-500">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
      </svg>
    {% endif %}
    <span class="mt-px">{{ tag }}</span>
    {% if tagUrl -%}
    </a>
  {%- else -%}
  </span>
{%- endif %}
