/* Add styles here to allow components to override them */
@layer components {
    /* Callouts
---------------------------------------------------------------------------------*/
    .callout {
        @apply rounded border border-gray-100 bg-white p-4 shadow;
    }

    .callout + * {
        @apply mt-8;
    }

    /* Buttons 
  ---------------------------------------------------------------------------------*/
    .btn {
        @apply inline-flex items-center rounded-full px-4 py-2 align-middle text-base font-bold transition-colors text-shadow-none hover:shadow-inset;
        /* Buttons | Themes */
        &--primary,
        &--secondary,
        &--white,
        &--outline {
            @apply hover:bg-white hover:text-slate-800;
        }
        &--primary {
            @apply bg-accent text-white hover:border-black/10;
        }
        &--secondary {
            @apply bg-slate-900 text-white;
        }
        &--white {
            @apply bg-white text-slate-700;
        }
        &--outline {
            @apply bg-transparent ring-2 ring-inset ring-gray-200;
        }
        &--quiet {
            @apply bg-transparent text-gray-700 hover:border-gray-300  hover:bg-gray-600 hover:text-white;
        }
        &--disabled {
            @apply bg-transparent text-gray-300 ring-2 ring-gray-200 hover:border-gray-300 hover:bg-transparent hover:text-gray-300;
        }
        &--link {
            @apply text-slate-800 hover:bg-white;
        }
        /* Buttons | Size variants */
        &--sm {
            @apply h-7 px-2.5 py-0 text-sm !leading-7;
        }
        /* Buttons | Icon variants */
        &--icon {
            @apply justify-between gap-x-1.5 pr-3;
        }
    }

    /* Header 
  ---------------------------------------------------------------------------------*/
    .banner {
        @apply fixed;

        &--start {
        }
        &--down,
        &--unknown {
            @apply -translate-y-full;
        }
        &--up {
            @apply shadow-banner shadow-gray-950/10;
        }
        &--freeze {
            @apply translate-y-0 duration-0;
        }
        .hero--light & {
            &--up {
                @apply bg-white;
            }
        }

        .hero--dark & {
            &--start,
            &--down {
                @apply bg-transparent;
            }
            &--up {
                @apply bg-slate-900;
            }
            &__logo {
                @apply shadow-black/50 drop-shadow-logo;
            }
        }
    }

    /* Header | Menu links */
    .menulink {
        @apply flex h-full items-center rounded-full text-base/none font-medium transition duration-150 focus:outline-none focus:ring-2;
        &__toggle {
            @apply bg-white text-accent  focus:bg-white focus:text-slate-800;
        }

        .hero--light & {
            @apply text-accent hover:bg-white hover:text-slate-800 focus:bg-white  focus:text-slate-800;
            &[data-state='active'] {
                @apply text-slate-800 ring-2 ring-brand  hover:text-slate-800;
            }
            .menulink__toggle {
                @apply text-slate-800;
            }
        }
        .hero--dark & {
            @apply text-white hover:bg-white hover:text-slate-800 focus:bg-white  focus:text-slate-800;
            &[data-state='active'] {
                @apply text-white ring-2 ring-brand  hover:text-slate-800;
            }
            .menulink__toggle {
                @apply text-slate-800;
            }
        }
    }

    /* Placeholders 
---------------------------------------------------------------------------------*/
    .holder {
        @apply relative before:absolute before:inset-0 before:border-2 before:border-dashed before:border-gray-200;
    }

    /* Forms 
---------------------------------------------------------------------------------*/
    .form {
        &__input,
        &__select {
            @apply block rounded bg-white px-3 py-2 placeholder:text-gray-400 focus:bg-white;
        }
        &__input,
        &__select,
        &__checkbox {
            &.error {
                @apply border-transparent ring-2 ring-red-200 focus:border-red-500 focus:ring-red-200;
            }
            &.readonly {
                @apply pointer-events-none select-none bg-gray-100 focus:border-gray-300 focus:bg-gray-100 focus:ring-0;
            }
        }
        &__input,
        &__select,
        &__checkbox,
        &__radio {
            @apply border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200;
        }
        &__checkbox {
            @apply rounded;
        }
        &__checkbox,
        &__radio {
            @apply px-2 py-2 text-accent;
        }
        &__divider {
            @apply -mx-4 my-8 border-gray-200 lg:mx-0 lg:w-full;
            &--panel {
                @apply -mx-4 w-auto lg:-mx-8;
            }
        }
    }

    /* Notes
---------------------------------------------------------------------------------*/
    .note {
        @apply inline-block rounded border border-yellow-100 bg-yellow-50 px-2 py-1;
        &--help,
        &--error {
            @apply relative block pl-5 text-sm leading-note
            before:absolute  before:left-0 before:block before:font-awesome before:text-base before:font-black
            before:not-italic before:leading-inherit;
        }
        &--error {
            @apply text-red-600 before:content-['\f06a'];
        }
        &--help {
            @apply before:text-blue-500 before:content-['\f05a'];
        }
    }

    /* Lists
---------------------------------------------------------------------------------*/
    .list {
        @apply space-y-2 !pl-0;
        li {
            @apply relative  leading-normal;
        }
        &--compact {
            li {
                @apply my-0.5;
            }
        }
        &--underlined {
            li {
                @apply border-b border-gray-300 last:border-0;
            }
        }
        &--bullet,
        &--checklist {
            li {
                @apply list-none pl-8  before:absolute before:left-0 before:top-0 before:w-6 before:font-awesome before:text-base before:font-normal before:not-italic before:leading-normal;
            }
        }
        &--bullet {
            li {
                @apply before:text-accent before:content-['\f35a'];
            }
        }
        &--checklist {
            li {
                @apply before:text-teal-500 before:content-['\f058'];
            }
        }
        &--counter {
            > li {
                counter-increment: a;
                @apply relative list-none  pl-12 
                before:absolute before:left-0 before:top-1.5 before:mr-4 before:block before:h-7 before:w-7 before:rounded-full before:bg-accent before:text-center before:text-xl before:font-black before:text-white before:content-[counter(a)]
                lg:before:h-8 lg:before:w-8 lg:before:text-2xl;
            }
        }
    }

    /* Blockquotes
  ---------------------------------------------------------------------------------*/
    blockquote {
        @apply relative my-12 block pl-4 text-left font-Georgia text-xl before:block
before:font-awesome before:text-[1.5em] before:font-black before:not-italic before:leading-none before:text-accent before:content-['\f10d'] md:text-xl;
    }

    blockquote .cite {
        @apply mb-0 mt-4 block text-base not-italic leading-8 text-gray-500;
    }

    /* labels
  ---------------------------------------------------------------------------------*/
    .label {
        @apply inline-block rounded px-1 py-1 align-text-bottom text-3xs uppercase leading-none;
        &--info {
            @apply border border-brand bg-brand;
        }
        &--disabled {
            @apply border border-gray-300 bg-gray-300 text-gray-500;
        }
        &--alert {
            @apply border-red-600 bg-red-600 text-white;
        }
    }

    .label-pin {
        @apply flex items-center rounded-full text-3xs;
        &__icon {
            @apply h-6 w-auto;
        }
    }

    /* Pagination
---------------------------------------------------------------------------------*/
    .pagination {
        @apply relative z-0 flex justify-between -space-x-px rounded shadow-sm;
        &__page {
            @apply relative  items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-accent hover:bg-gray-50;
        }
        &__ellipsis {
            @apply relative items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700;
        }
        &__previous {
            @apply relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50;
        }
        &__next {
            @apply relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50;
        }
        .active {
            @apply relative z-10 items-center border border-gray-300 bg-white px-4 py-2 text-sm font-bold  ring-1 ring-blue-200;
        }
    }

    /* Media
---------------------------------------------------------------------------------*/
    .credit {
        @apply absolute bottom-2 left-3 z-50 grid cursor-help grid-cols-credit items-end gap-2 text-left text-white md:left-8;
        &__icon {
            @apply flex h-8 w-8 items-center justify-center rounded-full rounded-br-none bg-slate-900/25 text-sm;
        }
        &__text {
            @apply rounded rounded-bl-none bg-slate-900/25 px-2 py-1 text-xs;
        }
    }

    /* Modals
---------------------------------------------------------------------------------*/

    /* Shapes/Masks
---------------------------------------------------------------------------------*/
    .bookmarkclip {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            50% calc(100% - 8px),
            0% 100%
        );
    }

    .angleclip {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 80px));
    }

    @media screen(md) {
        .angleclip {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 100px));
        }
    }

    /* Javascript | Alpine modifiers
  ---------------------------------------------------------------------------------*/
    .copytip:before {
        @apply invisible absolute left-1/2 -translate-x-1/2 -translate-y-12 whitespace-nowrap rounded bg-slate-900 bg-opacity-95 p-2 text-sm font-normal text-white shadow-sm content-[attr(aria-label)];
    }

    /* Javascript | Swiper
  ---------------------------------------------------------------------------------*/
    .swiper-pagination {
        @apply !left-1/2 !w-auto -translate-x-1/2;
    }
    /* Javascript | Photoswipe
  ---------------------------------------------------------------------------------*/
    [data-lightbox] {
        @apply relative
        z-0 before:absolute before:inset-0
        before:z-10 before:flex before:items-center  before:justify-center before:bg-slate-900/75 before:font-awesome before:text-2xl/none before:font-black before:not-italic before:leading-inherit before:text-white before:opacity-0 before:backdrop-blur-sm
        before:backdrop-brightness-125 before:transition before:duration-300 before:content-['\f00e'] before:hover:opacity-100;
    }
}
