{% set layoutRef = "landing" %}
{%- import "macros/components.njk" as macro with context -%}
{% extends "layouts/base.njk" %}
{% block main %}
  {% displaycapture "blockContent" %}
  <div class="max-w-container mx-auto">
    {% include "partials/breadcrumb.njk" %}
    <main id="main-content" class="{{ utilities.tramline.double.y }}">
      <article class="max-w-3xl mx-auto">
        {# <h1 id="headline" class="heading text-3xl lg:text-7xl text-center relative {{utilities.tramline.double.b}}">{{ title }}</h1> #}
        {%- if tags %}
          <p class="my-8 flex flex-wrap gap-2 lg:gap-4 items-center justify-center leading-none">
            {%- for tag in tags | filterTagList %}
              {%- set tagUrl %}/tags/{{ tag | slugify }}/
              {% endset %}
              {# <a href="{{ tagUrl | url }}" class="rounded bg-brand p-1 inline-block hover:bg-slate-900 hover:text-white">{{ tag }}</a> #}
              {% include "partials/tag.njk" %}
            {%- endfor %}
          </p>
        {%- endif %}
        <div class="max-w-none prose lg:prose-lg mx-auto">
          {% block content %}
            {{ content | safe }}
          {% endblock -%}
        </div>
        <aside class="w-full py-4 md:py-8 mt-4 md:mt-8">
          <p>
            Last updated <time class="bg-neutral-100 rounded inline-block px-2"
       datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          </p>
          <p class="flex flex-wrap not-prose items-center gap-2 w-full text-xs uppercase mt-4 leading-none">
            {%- for tag in tags | filterTagList %}
              {%- set tagUrl %}/tags/{{ tag | slugify }}/
              {% endset %}
              {% include "partials/tag.njk" %}
            {%- endfor %}
          </p>
        </aside>
      </article>
      {%- displaycapture "postContent" %}
    </main>
    {% include "partials/nextprev.njk" %}
  </div>
{% endblock -%}
