{% set layoutRef = "listing" %}
{%- import "macros/components.njk" as macro with context -%}
{% extends "layouts/base.njk" %}
{% set layoutRef = "listing" %}
{% block main %}
  {% block hero %}
    {# default | can be replaced with hero set in page content -#}
    {{ macro.herotitle(hero) }}
  {% endblock hero -%}
  <div class="max-w-container mx-auto relative">
    <main id="main-content" class="{{ utilities.tramline.double.b }}">
      {% block content %}
        {{ content | safe }}
      {% endblock -%}
    </main>
    {% include "partials/nextprev.njk" %}
  </div>
{% endblock -%}
