{% set layoutRef = "post" %}
{%- import "macros/components.njk" as macro with context -%}
{% extends "layouts/base.njk" %}
{% block main %}
  <main id="main-content">
    <div class="max-w-container mx-auto {{ utilities.headergap }}">
      <article id="start" class="max-w-3xl mx-auto">
        <h1 id="headline"
            class="heading max-w-3xl mx-auto text-3xl lg:text-7xl relative {{ utilities.tramline.double.y }}">
          {{ title }}
        </h1>
        {%- if tags %}
          <p class="flex flex-wrap not-prose items-center gap-2 w-full text-xs uppercase my-4 leading-none">
            {%- for tag in tags | filterTagList %}
              {%- set tagUrl %}/tags/{{ tag | slugify }}/
              {% endset %}
              {% include "partials/tag.njk" %}
            {%- endfor %}
          </p>
        {%- endif %}
        {%- if img %}
          {% image { src: img.listing, alt: img.alt, credit: img.credit, widths:[780, 960, 1920], sizes:'100vw, (min-width: 1024px) 50vw, (min-width: 1264px) 56.25vw', breakout: img.breakout, wrapper:'my-4 md:my-8', ratio: "pb-photo md:pb-widescreen xl:pb-block", classlist: 'object-cover w-full h-full absolute inset-0', loading: 'eager'  } %}
        {%- endif %}
        <div class="max-w-none rte prose lg:prose-lg mx-auto">
          {% block content %}
            {{ content | safe }}
          {% endblock -%}
        </div>
        <aside class="w-full py-4 md:py-8 mt-4 md:mt-8">
          <p>
            Last updated <time class="bg-neutral-100 rounded inline-block px-2"
       datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          </p>
          <p class="flex flex-wrap not-prose items-center gap-2 w-full text-xs uppercase mt-4 leading-none">
            {%- for tag in tags | filterTagList %}
              {# djlint:off #}{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}{# djlint:on #}
              {% include "partials/tag.njk" %}
            {%- endfor %}
          </p>
        </aside>
      </article>
      {%- include "partials/nextprev.njk" %}
    </div>
  </main>
{% endblock -%}
